<!DOCTYPE html>
<html>
<head>
    <%- partial('_partial/head') %>
</head>
<body>
<script type="application/javascript">
    <%
    let apilayouts = [
        "apiindex",
        "apimodules",
        "apinamespaces",
        "apiclasses",
        "apiglobals",
        "apifiles",
        "apimodulecontent",
        "apinamespacecontent",
        "apifilecontent",
        "apiclasscontent"
    ];
    // 嵌入导航   
    let menuItems = site.data.category;
    let layout;
    if (page.layout) {
        layout = page.layout;
    } else if (page.title) {
        layout = "post";
    } else if (page._isBlogList) {
        layout = "blog";
    }
    let apiCatalog = [];
    if (_.indexOf(apilayouts, layout) != -1) {
        apiCatalog = get_api_catalog(page, config, site);
    }
    %>
</script>
<div class="uk-offcanvas-content">
    <%- partial("_partial/header") %>
    <%- body %>
    <%- partial("_partial/footer") %>
    <div id="offcanvas-push" uk-offcanvas="mode: slide; overlay: true">
        <div class="uk-offcanvas-bar" id = "sidebar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <div class="menu-container">
                <%- partial("_partial/inject_site_menu") %>
                <%
                if (layout == "manual") {
                    let catalog = get_manual_catalog(page, config, site);
                %>
                <div class="uk-panel">
                    <% for(var i = 0; i < catalog.length; i++) {
                        let category = catalog[i];
                    %>
                    <ul class="uk-nav uk-nav-default tm-nav uk-margin-top">
                        <li class="uk-nav-header"><%- category.text %></li>
                        <%
                        if (category.children && category.children.length != 0) {
                        for(var j = 0; j < category.children.length; j++) {
                            let item = category.children[j];
                        %>
                        <li><a href="<%- item.url %>"><%- item.text %></a></li>
                        <%
                        }
                        }
                        %>
                    </ul>
                    <%}%>
                </div>
                <%
                } else if (page.maintype == "about") { %>
                <ul class = "uk-text-left extra-items uk-width-1-1">
                    <li class="uk-width-1-1"><a href = "/about/changelog.html">Changelog</a></li>
                    <li class="uk-width-1-1"><a href = "/about/becomesponsor.html">成为赞助者</a></li>
                    <li class="uk-width-1-1"><a href = "/about/becomedeveloper.html">成为开发者</a></li>
                    <li class="uk-width-1-1"><a href = "/about/becomepartner.html">成为合作伙伴</a></li>
                </ul>
                <%} else if (_.indexOf(apilayouts, layout) != -1) {%>
                <ul class = "uk-text-left extra-items uk-width-1-1">
                    <%
                    for(let i = 0; i < apiCatalog.length; i++) {
                        let catalogItem = apiCatalog[i];
                    %>
                    <li class="uk-width-1-1"><a href = <%- catalogItem.url %>><%- catalogItem.name %></a></li>
                    <% } %>
                </ul>
                <% }%>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" async="async" src ="http://s13.cnzz.com/z_stat.php?id=1264578420"></script>
<script type="text/javascript" async="async" src ="http://c.cnzz.com/core.php?web_id=1264578420&t=z"></script>
</body>
</html>